a {
    text-decoration: none;
}

.default{
    display: flex;
    width: 100%;
    height: 9vh;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    color: white;
    border: 1px solid lightcoral;
    font-size: 3vh;
}

.default:hover {
    background-color: rgb(238, 77, 77);
}
